.card {
  display: flex;
  justify-content: space-between;
  width: 451px;
  height: 279px;
  font-size: 12px;
  line-height: 22px;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
}
.card-blockimage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 183px;
}
.card-image {
  width: 183px;
  position: absolute;
  left: 0;
}
.card-discription {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  flex-direction: column;
  padding: 10px 10px 20px 20px;
  max-width: 271px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.card-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 30px;
  border: 2px solid yellowgreen;
  border-radius: 50%;
}
.card-date {
  color: #827e7e;
  font-weight: 400;

  line-height: 22px;
}
.card-text {
  padding-right: 5px;
  height: 129px;
  overflow: hidden;
}
.card-stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-rate {
  font-size: 15px;
}
