.radio {
  display: flex;
  gap: 10px;
}
.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio__label {
  border-bottom: 2px solid black;
}
.radio__label--checked {
  border-bottom: 2px solid rgb(38, 0, 255);
  color: rgb(38, 0, 255);
}
