.ant-radio-inner {
  border-radius: 0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 2px;
  /* left: 50px; */
  background-color: rgba(255, 255, 255, 0);
  width: 80px;
  left: 20px;
}

.ant-radio-inner::after {
  display: none;
}
.ant-radio {
  bottom: 10px;
  left: 50px;
}
.ant-radio-wrapper {
  width: 70px;
  right: 70px;
  /* justify-content: center; */
}
